@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&family=Roboto+Slab:wght@500&display=swap');

:root {
--primary-color : #E67E22;
--secondary-color : #485460;
}

*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
}

.NavBar{
    width: 100%;
    height: 60px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-items{
    text-decoration: none;
    list-style: none;
    margin-left: 20px;
}

.ul-list{
    display: flex;
}