@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

:root {
--primary-color : #E67E22;
--secondary-color : #485460;
}

*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

::selection{
    background: none;
}
body{
    width: 100%;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 100%;
    height: 100%;
}

.NavBar{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    transition: ease-in-out 1s;
}

.nav-items{
    text-decoration: none;
    list-style: none;
    margin-left: 20px;
    color: #fff;
}

.current-item{
    color: var(--primary-color);
}

.ul-list{
    display: flex;
}

.Home-Section{
    background-image: url('Assets/Main-img.png');
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.middle-area{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Name{
    font-family: 'Dancing Script', cursive;
    color: #fff;
    font-size: 50px;
    margin-bottom: 5px;
}

.Quotes{
    color: #fff;
    font-size: 10px;
}

.drop-Arrow{
    margin-top: 15px;
    color: #fff;
    font-size: 40px;
    cursor: pointer;
    transition: ease-in-out 1s;
    animation: arrowbounce 1s infinite alternate-reverse both;
}

@keyframes arrowbounce {
    0% {
        transform: rotate(90deg) translateX(4px);
      }
      100% {
        transform: rotate(90deg) translateX(-4px);
      }
  }

.drop-Arrow:hover{
    color: var(--primary-color);
}

.aboutme{
    width: 100%;
    height: 100vh;
}

.logo{
    position: fixed;
    left: 40px;
    opacity: 0;
    transition: ease-in-out 1s;
}

.logo-h1{
    font-size: 25px;
    color: white;
    font-family: 'Dancing Script', cursive;
}

.aboutme-container{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.side-arrow-aboutme{
    color: var(--primary-color);
}

.details-highlited-area{
    color: black;
}

.details{
    color: var(--secondary-color);
    margin-bottom: 20px;
}

.my-details{
    width: 100%;
    height: 30%;
    display: flex;

}
.left{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.right{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bar{
    background: #e6e6e6;
    display: block;
    height: 30px;
    width: 30%;
    overflow: hidden;
    border-radius: 2px;
}

.bar span{
    height: 30px;
    float: left;
    background: var(--primary-color);
}

.html{
    width: 90%;
}

li{
    list-style: none;
}

.skill{
    width: 92%;
    font-size: 15px;
}

.percentage{
    width: 8%;
    font-size: 15px;
}


.skill-percentage-container{
    width: 30%;
    display: flex;
}

.css{
    width: 100%;
}

.js{
    width: 70%;
}

.reactjs{
    width: 70%;
}

.figma{
    width: 50%;
}

.blender{
    width: 20%;
}